<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap-custom.css">
    <link rel="stylesheet" href="../css/icons.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/dash_custom.css">
    <script src="../javascript/socket.io.js"></script>
    <script>
        // --------------------------------------------------
        // ==================================================
        // --------------------------------------------------
        // ==================================================

        const n = "<%= name %>",

        // --------------------------------------------------
        // ==================================================
        // --------------------------------------------------
        // ==================================================

        _id = "<%= id %>",


        // --------------------------------------------------
        // ==================================================
        // --------------------------------------------------
        // ==================================================

        u = "<%= username %>" ;


        // --------------------------------------------------
        // ==================================================
        // --------------------------------------------------
        // ==================================================

    </script>
    <title><%= title %></title>
</head>
<body>
    <div class="main_container">
        <div class="main_wrapper">
            <header class="header">
                <div class="logo_container">
                    <div>
                        <p class="logo">ZABLOT</p>
                    </div>
                    <div class="coin_container">
                        <button class="add_coin_wrapper btn">
                            <i class="ion-md-add"></i>
                            <span class="available_coin">500</span>
                            <i class="ion-logo-bitcoin"></i>
                        </button>
                    </div>
                </div>
                <div class="header_wrapper">
                    <div class="nav_shortcut">
                        <ul class="ul_shortcut">
                            <li class="li_shortcut">Home</li> <span> > </span>
                            <li class="li_shortcut"><a href="#" class="dashboard">Dashboard</a></li> <span> > </span>
                            <li class="li_shortcut"><a href="#" class="profile">Challenge</a></li> <span> > </span>
                            
                        </ul>
                    </div>
                    <div class="navigator">
                        <div class="ul_list toast">
                            <div class="toggle_active_to_navigator">
                                MENU
                                <a href="#" class="toggle_active_"><i class="ion-ios-arrow-down show_hide"></i></a>
                            </div>
                            <ul class="ul_wrapper">
                                <li>
                                    <div class="user_profile">
                                        <div class="user_image">
                                            <a href="#">
                                                <img src="/static/media/1.4b0d09c4.jpg" class="userImage" alt="">
                                            </a>
                                        </div>
                                        <div class="user_name_wrapper">
                                            <p class="user_real_name">
                                                <%= name %>
                                                <span class="user_name">
                                                    @<%= username %>
                                                </span>
                                            </p>                                           
                                        </div>
                                    </div>
                                </li>
                                <li><a href="#">Profile</a></li>
                                <li>Chats</li>
                                <li>Room</li>
                                <li>Challenge</li>
                                <li>Active Users</li>
                                <li>Account Settings</li>
                                <li><a href="/logout">Log out</a></li>
                            </ul>                            
                        </div>
                    </div>
                </div>
                <div class="fast_access_container">
                    <ul>
                        <li><a href="#" class="tog"><i class="ion-md-contacts"></i>PRI</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#" class="tog_pub"><i class="ion-md-contacts"></i>PUB</a></li>
                    </ul>
                </div>
            </header>           
            <div class="chat_body">
                <div class="chat_Wrap">
                    <div class="chat_main_wrap">
                        <div class="chat_flex1">
                            <div class="private_users_wrapper">
                                <div class="toast chat_wrap_container">
                                    <header class="friends_header">
                                        <div class="private_user_header">
                                            <h5 class="title">Private Online Friends</h5>
                                            <div class="toggle_wrap">
                                                <a href="#" class="tog"><i class="ion-ios-arrow-back"></i></a>
                                            </div>
                                        </div>                                       
                                    </header>
                                    <div class="private_friends_container">
                                        <div class="friends_wrapper">
                                            <div class="friend_preview_profile">
                                                <div class="friend_image">
                                                    <a href="#">
                                                        <img src="/static/media/1.4b0d09c4.jpg" class="userImage" alt="">
                                                    </a>
                                                </div>
                                                <div class="friend_name_wrapper">
                                                    <p class="friend_real_name">
                                                        JAMES ODERINDE
                                                        <span class="friend_user_name">
                                                            @TJ_DIBBS
                                                        </span>
                                                    </p>                                           
                                                </div>                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat_flex2">
                              <div class="main_chat_container">
                                  <div class="main_chat_wrapper">
                                      <div class="main_chat_header">
                                        <div class="main_chat_friend_profile">
                                            <div class="main_chat_friend_image">
                                                <a href="#">
                                                    <img src="/static/media/1.4b0d09c4.jpg" class="main_chat_userImage" alt="">
                                                </a>
                                            </div>
                                            <div class="main_chat_friend_name_wrapper">
                                                <p class="main_chat_friend_real_name">
                                                    JAMES ODERINDE
                                                    <span class="main_chat_friend_user_name">
                                                        @TJ_DIBBS
                                                    </span>
                                                </p>                                           
                                            </div>                                        
                                        </div>
                                        <div class="main_chat_icons_wrapper">
                                            <ul class="icons_List">
                                                <li class="icons">
                                                    <a href="#" class="icon">
                                                        <i class="ion-ios-notifications">
                                                            
                                                        </i>
                                                    </a>
                                                </li>
                                                <li class="icons">
                                                    <a href="#" class="icon">
                                                        <i class="ion-ios-mail-open">
        
                                                        </i>
                                                    </a>
                                                </li>
                                                <li class="icons">
                                                    <a href="#" class="icon">
                                                        <i class="ion-ios-more">
        
                                                        </i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                      </div>
                                      <div class="chats_box_container">
                                          <div class="chat_box_wrap">
  
                                          </div>
                                      </div>
                                      <div class="chat_form_wrapper">
                                          <div class="form_main_wrap">
                                              <div class="create_form_question">  
                                                <button type="button" class="create_question">
                                                    <i class="ion-md-create"></i>
                                                    <span class="span">
                                                        Create Q
                                                    </span>
                                                </button>
                                              </div>
                                              <form action="" class="chat_form">
                                                <textarea name="normal_text" id="text_area"  placeholder="type a message.." class="text_area"></textarea>
                                                <button type="submit" class="send_message"><i class="ion-md-send"></i></button>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>                
                        </div>
                        <div class="chat_flex3">
                            <div class="public_users_wrapper">
                                <div class="toast wrap_me">
                                    <header class="friends_header">
                                        <div class="private_user_header">
                                            <h5 class="title">Public Active Friends</h5>
                                            <div class="toggle_wrap">
                                                <a href="#" class="tog_pub"><i class="ion-ios-arrow-forward "></i></a>
                                            </div>
                                        </div>                                
                                    </header>
                                    <div class="search_wrapper">
                                        <form action="" class="pub_form">
                                            <input type="search" placeholder="Search..." class="form-control" name="search_value" id="">
                                            <aside class="btn" id="btn_toggle"><i class="ion-ios-search"></i></aside>
                                        </form>
                                    </div>
                                    <div class="friends_container">
                                        <div class="friends_wrapper">
                                            <div class="friend_preview_profile">
                                                <div class="friend_image">
                                                    <a href="#">
                                                        <img src="/static/media/1.4b0d09c4.jpg" class="userImage" alt="">
                                                    </a>
                                                </div>
                                                <div class="friend_name_wrapper">
                                                    <p class="friend_real_name">
                                                        JAMES ODERINDE
                                                        <span class="friend_user_name">
                                                            @TJ_DIBBS
                                                        </span>
                                                    </p>                                           
                                                </div>                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="chat_footer">
        <div class="attached_links_of_zablot">
            <ul>
                <li><a href="">Terms & Services</a></li>
                <li><a href="">Policy</a></li>
                <li><a href="">Disclaimer</a></li>
                <li class="follow_us">Follow us</li>
            </ul>
        </div>
        <div class="copyright">
            <h6>&COPY; Copyright 2021 <i>ZABLOT</i></h5>
        </div>
    </footer>
    <script src="../javascript/jquery.min.js"></script>
    <script type="module" src="../javascript/main.js"></script>
</body>
</html>